/*
 * MoeSkin - Legacy shared styles
*/

@import '../../resources/variables.less';

.skin-moeskin-dark {
	.catlinks li {
		border-left: 1px solid @dark-bg-50;
	}

	.autocomment,
	.autocomment a,
	.autocomment a:visited {
		color: var( --color-base--subtle );
	}

	.mw-datatable th {
		background-color: var( --background-color-primary--active );
	}

	.mw-datatable td {
		background-color: var( --color-surface-0 );
	}

	.mw-datatable tr:hover td {
		background-color: var( --background-color-primary--active );
	}
}
