/* 背景 */
body:before {
    opacity: 0.95;
    position: absolute;
    height: 285px;
    background-image: url(/images/7/70/ZhMoegirl19fall.png);
    background-size: 210em;
    -webkit-mask-image: linear-gradient(180deg,#000000,#000000,#000000,#000000,transparent);
    mask-image: linear-gradient(180deg,#000000,#000000,#000000,#000000,#000000,transparent);
    background-repeat: no-repeat;
}

.skin-moeskin-dark body:before {
    opacity: 0.8;
    height: 295px;
    -webkit-mask-image: linear-gradient(180deg,#000000,#000000,#000000,transparent);
}

.skin-moeskin-dark #moeskin-global-background {
    opacity: 20%;
}

@media screen and (min-width: 820px) {
.moeskin-header:before {
	background: transparent;
}
.moeskin-header.is-at-top {
    position: fixed;
    z-index: 3;
    background: transparent;
    backdrop-filter: none;
    border-top: 2px solid transparent;
    box-shadow: none;
   transition: background-color 150ms,color 150ms,border-color 150ms,box-shadow 150ms;
}
.is-at-top #pt-anonuserpage {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color-base);
}
.is-at-top .moeskin-header__title--site > div:first-letter {
	color: #f9d04b;
}
.is-at-top .moeskin-header__title {
	    display: none;
}
.moeskin-header__title,
.is-at-top .moeskin-header__buttonIcon,
html:not(.skin-moeskin-dark) .moeskin-header__buttonIcon,
.is-at-top .moeskin-header__button--icon:after,
html:not(.skin-moeskin-dark) .moeskin-header__button--icon:after,
.is-at-top #pt-notifications-alert .mw-echo-notifications-badge,
html:not(.skin-moeskin-dark) #pt-notifications-alert .mw-echo-notifications-badge,
.is-at-top #pt-notifications-notice .mw-echo-notifications-badge,
html:not(.skin-moeskin-dark) #pt-notifications-notice .mw-echo-notifications-badge {
    opacity: 1 !important;
}
#moeskin-pref-toggle, #moeskin-personalMenu__buttonCheckbox {
    border-right: 1px solid var(--border-color-base--darker);
}
#moeskin-pref-toggle, #moeskin-personalMenu__buttonCheckbox {
    border-left: 1px solid var(--border-color-base--darker);
}
#pt-notifications-alert, .moeskin-drawer__button {
    border-right: 1px solid var(--border-color-base--darker);
}
.is-at-top .moeskin-personalMenu__card, .is-at-top #moeskin-pref-panel, .is-at-top .mw-echo-ui-notificationBadgeButtonPopupWidget-popup {
	border-radius: var(--border-radius--medium);
}
}

#moeskin-global-background {
    background: url(/images/2/20/Fastview_bg_particle.png) no-repeat center;
    opacity: 75%;
}
.mw-body {
    opacity: 97%;
}

/* 移动端 */
@media screen and (min-width: 820px) {
.mobileonly {
	display: none;
}

.nomobile {
    display: block;
}
}


/* 用户头像 */
img.userlink-avatar-small {
    margin-left: 0.2em;
    margin-right: 0.2em;
    width: 1.5em;
    border-radius: 15%;
    margin-top: -0.2em;
}

.userlink-avatar-large {
    display: none;
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 1.5em;
    border: solid #A7D7F9 1px;
    border-radius: 3px;
    background-color: white;
}

.userlink-avatar-large img {
    min-width: 128px;
}

.userlink-avatar-hover,
.userlink-avatar-hover .userlink-avatar-small {
    position: relative;
    cursor: pointer;
}

.userlink-avatar-hover:hover .userlink-avatar-large {
    display: block;
    z-index: 91;
}