/*
 * MoeSkin
 *
 * SkinStyles for Extension:VisualEditor
 * Module: ext.visualEditor.progressBarWidget
 *
*/

.ve-init-mw-progressBarWidget {
	border-color: var( --color-primary );
	background-color: var( --color-surface-1 );
	box-shadow: none;
}

.ve-init-mw-progressBarWidget-bar {
	background-color: var( --color-primary );
}
