<div id="moeskin-page-tools-container" role="navigation">
<div id="moeskin-page-tools">
<div class="btn-group content-actions">
<a class="page-tool-link" id="toctoggle"><div class="tooltip show">{{msg-moeskin-toc-toggle}}</div></a>
<a class="page-tool-link" id="discussiontoggle" href="/讨论版"><div class="tooltip show">{{msg-moeskin-discussion-toggle}}</div></a>
<a class="page-tool-link" id="commentstoggle" href="#flowthread"><div class="tooltip show">{{msg-moeskin-comments-toggle}}</div></a>
<a class="page-tool-link" id="editOldtoggle" href="#" onclick="window.open(window.location.href.split('#')[0] + '&action=edit&undo', '_blank');"><div class="tooltip show">{{msg-moeskin-editOld-toggle}}</div></a>
<a class="page-tool-link" id="specialtoggle" href="/Special:Specialpages"><div class="tooltip show">{{msg-moeskin-special-toggle}}</div></a>
</div>
<div class="flex-1"></div>
<div class="btn-group tools-extra">
<a class="page-tool-link" id="sharedtoggle" onclick="mw.notify('{{msg-moeskin-shared-notify}}', { title: '{{msg-moeskin-shared-title}}', type: 'warn' } );"><div class="tooltip show">{{msg-moeskin-shared-toggle}}</div></a>
<a class="page-tool-link" id="uptoggle" href="#"><div class="tooltip show">{{msg-moeskin-up-toggle}}</div></a>
</div>
</div></div>