{{#data-drawer-sitestats}}
<div class="moeskin-siteStats">
	{{#array-drawer-sitestats-item}}
	<div class="moeskin-siteStats__item" id="moeskin-siteStats__item--{{id}}" title="{{label}}">{{value}}</div>
	{{/array-drawer-sitestats-item}}
</div>
{{/data-drawer-sitestats}}