{{!
	string msg-moeskin-personalmenu-toggle The label used by the personal menu button.
}}
<div class="moeskin-personalMenu moeskin-header__item mw-checkbox-hack-container">
	<input 
		type="checkbox" 
		id="moeskin-personalMenu__checkbox" 
		class="mw-checkbox-hack-checkbox"
		role="button"
		aria-labelledby="moeskin-personalMenu__buttonCheckbox"
		aria-haspopup="true">
	<aside id="moeskin-personalMenu__card" class="moeskin-personalMenu__card mw-checkbox-hack-target">
		{{#data-personal-menu-header}}{{>Menu}}{{/data-personal-menu-header}}
		<nav id="p-personal-notice" class="mw-portlet mw-portlet-personal"><ul><li id="pt-notifications" class="mw-list-item"><a href="/index.php?title=Special:Notifications">{{msg-moeskin-personalmenu-notifications}}</a></li></ul></nav>
		{{#data-personal-menu-list}}{{>Menu}}{{/data-personal-menu-list}}
	</aside>
	<label
		id="moeskin-personalMenu__buttonCheckbox" 
		class="mw-checkbox-hack-button moeskin-header__button moeskin-header__button--icon" 
		for="moeskin-personalMenu__checkbox"
		title="{{msg-moeskin-personalmenu-toggle}}"
		aria-hidden="true">
		<span>{{msg-moeskin-personalmenu-toggle}}</span>
	</label>
</div>