{{!
	string msg-moeskin-search-toggle-shortcut message with shortcut key for search toggle
	string msg-moeskin-search-toggle tooltip message for search toggle
}}
<div class="moeskin-search__button moeskin-header__button">
	<div class="moeskin-search__buttonIcon moeskin-header__buttonIcon">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<label
		id="moeskin-search__buttonCheckbox" 
		class="mw-checkbox-hack-button moeskin-header__buttonCheckbox" 
		for="moeskin-search__checkbox"
		title="{{msg-moeskin-search-toggle-shortcut}}"
		aria-hidden="true">
		<span>{{msg-moeskin-search-toggle}}</span>
	</label>
</div>
