/*
 * MoeSkin
 *
 * SkinStyles for Extension:Popups
 * Module: ext.popups.main
 *
*/

.mwe-popups {
	// HACK: Needed to make rounded corner and placeholder bg work
	// But you lose the pointer by doing it
	border-radius: var( --border-radius--medium );
	background-color: var( --color-surface-1 );
	box-shadow: var( --box-shadow-dialog );

	.mwe-popups-container {
		background-color: var( --color-surface-1 ); // MW 1.37+
		color: var( --color-base );

		// Neutral color so dark SVG is visible
		svg {
			border-radius: var( --border-radius--medium ) var( --border-radius--medium ) 0 0;
			background-color: #eaecf0;
		}
	}

	.mwe-popups-settings-icon {
		border-radius: var( --border-radius--small );
		opacity: var( --opacity-icon-base );

		&:hover {
			background-color: var( --background-color-quiet--hover );
			opacity: var( --opacity-icon-base--hover );
		}

		&:active {
			background-color: var( --background-color-quiet--active );
			opacity: var( --opacity-icon-base--active );
		}
	}

	.mwe-popups-extract {
		color: var( --color-base );

		&[ dir='ltr' ]:after {
			/* @noflip */
			background-image: linear-gradient( to right, transparent, var( --color-surface-1 ) 50% );
		}

		&[ dir='rtl' ]:after {
			/* @noflip */
			background-image: linear-gradient( to left, transparent, var( --color-surface-1 ) 50% );
		}

		blockquote:after {
			/* @noflip */
			background-image: linear-gradient( to bottom, transparent, var( --color-surface-1 ) 75% );
		}
	}

	.mwe-popups-thumbnail {
		outline: none;
	}

	/* Triangles/Pointers */
	&.mwe-popups-no-image-pointer {
		&:after {
			border-bottom-color: var( --color-surface-1 );
		}

		&:before {
			border-bottom-color: var( --border-color-base );
		}
	}

	&.mwe-popups-image-pointer {
		&:before {
			border-bottom-color: var( --border-color-base );
		}

		&:after {
			border-bottom-color: var( --color-surface-1 );
		}

		&.flipped-x {
			&:before {
				border-bottom-color: var( --border-color-base );
			}

			&:after {
				border-bottom-color: var( --color-surface-1 );
			}
		}
	}

	&.flipped-x.mwe-popups-is-tall {
		&:before {
			border-bottom-color: var( --border-color-base );
		}
	}

	&.flipped-x-y {
		&:before {
			border-top-color: var( --border-color-base );
		}

		&:after {
			border-top-color: var( --color-surface-1 );
		}

		&.mwe-popups-is-tall {
			&:after {
				border-top-color: var( --color-surface-1 );
			}

			&:before {
				border-top-color: var( --border-color-base );
			}
		}
	}

	&.flipped-y {
		&:after {
			border-top-color: var( --color-surface-1 );
		}

		&:before {
			border-top-color: var( --border-color-base );
		}
	}

	/* referencePreview.less */
	&.mwe-popups-type-reference {
		.mwe-popups-extract {
			.mwe-popups-fade {
				background-image: linear-gradient( transparent, var( --color-surface-1 ) );
			}

			/* T266859*/
			.mw-parser-output {
				overflow-wrap: break-word;
			}
		}
	}

	// speed up fade animation 2x
	&-fade {
		&-in,
		&-out {
			&-up,
			&-down {
				animation-duration: 0.125s;
			}
		}
	}
}

/* settingsDialog.less */
#mwe-popups-settings {
	border-color: var( --border-color-base );
	border-radius: var( --border-radius--medium );
	background: var( --color-surface-1 );
	box-shadow: var( --box-shadow-dialog );

	header {
		border-bottom-color: var( --border-color-base );

		h1 {
			font-family: var( --font-family-base );
			font-weight: 600;
			padding-top: 0;
		}
	}

	.mwe-ui-icon-popups-close {
		opacity: var( --opacity-icon-base );

		&:hover {
			opacity: var( --opacity-icon-base--hover );
		}

		&:active {
			opacity: var( --opacity-icon-base--active );
		}
	}

	main#mwe-popups-settings-form {
		p {
			color: var( --color-base--subtle );
		}

		form {
			label {
				> span {
					color: var( --color-base--emphasized );
					font-weight: 500;
				}
			}
		}
	}
}

/* settingsDialogRenderer.less */
.mwe-popups-overlay {
	background-color: var( --background-color-overlay );
}

.mw-ui-icon-popups-close:before {
	opacity: var( --opacity-icon-base );
}
