/*
 * MoeSkin
 *
 * SkinStyles for Extension:RevisionSlider
 * Module: ext.RevisionSlider.lazyCss
 *
*/

.mw-revslider-container {
	border-color: var( --border-color-base );
}

.mw-revslider-slider-wrapper {
	border-top-color: var( --border-color-base );
}

.mw-revslider-spinner {
	.mw-revslider-bounce,
	&:before,
	&:after {
		background-color: var( --color-primary );
	}
}
